# gitignore for C++
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio Files
x64/
*.suo
*.csproj.user
*.vcxproj.user
ipch
*sdf
.vs/
*.tlog/
*.log
*.recipe
*.ilk
*.pdb
*.FileListAbsolute.txt
*.obj
*.idb
*.iobj
*.ipdb
